In [9]:
#importing libraries
import pandas as pd

In [10]:
#read dataset
df=pd.read_csv('/content/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
#cosine distance
from scipy.spatial.distance import cosine
x=df.SepalLengthCm
y=df.PetalLengthCm
cosine(x,y)

0.05146850301556727

In [13]:
#manhatton distance
from scipy.spatial.distance import cityblock
x=df.SepalLengthCm
y=df.PetalLengthCm
cityblock(x,y)

312.7

In [14]:
#euclidean distance
from scipy.spatial.distance import euclidean
x=df.SepalLengthCm
y=df.PetalLengthCm
euclidean(x,y)

28.954274295861744

In [15]:
#minkowski distance
from scipy.spatial.distance import minkowski
x=df.SepalLengthCm
y=df.PetalLengthCm
minkowski(x,y)

28.954274295861744

In [16]:
#jaccard distance
from scipy.spatial.distance import jaccard
x=df.SepalLengthCm
y=df.PetalLengthCm
jaccard(x,y)

1.0