In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
df = pd.read_csv('/content/Book1.csv')
df

                 Patient                Product
0                      S  UNIENZYME TAB
1                      S  VELOZ D CAP
2     SAINATH SHIVAJI M   INJ OROFER S 100
3     JAGATAP BHIKAJI N   INJ ALKEMCORT-H
4     JAGATAP BHIKAJI N   BLOOD SET
...                  ...                    ...
9746  WANI POPAT          C FURO CV 625 TAB
9747  WANI POPAT          ETOZOX 90 TAB
9748  WANI POPAT          REBORUL 20 TAB
9749  WANI POPAT          LYCOCHEER FORTE TAB
9750  patil               CLAVAM 625

[9751 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9751 entries, 0 to 9750
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Patient  9751 non-null   object
 1   Product  9751 non-null   object
dtypes: object(2)
memory usage: 152.5+ KB

In [ ]:
df.columns

Index(['Patient', 'Product'], dtype='object')

In [ ]:
from mlxtend.frequent_patterns import association_rules, apriori

In [ ]:
transactions_str = df.groupby(['Patient', 'Product'])['Product'].count().reset_index(name ='Count')
transactions_str

                 Patient                Product  Count
0                         B PROTIN (CHOC)            1
1                         BEVON SUSPENSION           1
2                         CEFIX 200 DT               1
3                         DOLONEX   20MG  DT         1
4                         HCQS 200 TAB               1
...                  ...                    ...    ...
8404  yadhav              INJ MCOB PLUS              2
8405  yadhav              INJ ROZID 1GM              2
8406  yadhav              LIV 52 TAB                 1
8407  zhorale baby r      ETHILON 1 NW3348           1
8408  zhorale baby r      PROLINE MESH 15*15         1

[8409 rows x 3 columns]

In [ ]:
# making a mxn matrice where m=transaction and n=items and each row represents whether the item was in the transaction or not
my_basket = transactions_str.pivot_table(index='Patient', columns='Product', values='Count', aggfunc='sum').fillna(0)


my_basket.head()

Product,10,10ML SYRING,20ML SYRINGE,2ML SYRINGE,3 WAY POLYMED,3WAY STOPCOCK,4 QUIN PFS 0.5,4QUIN D EYE DROP,5 ML SYRING,A TO Z NS SYRUP(B),...,ZINCOVIT TAB,ZOCLAR 250 TAB,ZOFIX CV 200 TAB,ZORYL M 1,ZOSTER 400TAB,ZOSTER 800 TAB,ZURACEF 200 TAB,ZYLORIC 100 TAB,ZYLORIC 300,ZYTEE GEL 10 GM
Patient,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
SHANKAR SHINDE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VISHA KUNAL INGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# making a function which returns 0 or 1
# 0 means item was not in that transaction, 1 means item present in that transaction

def encode(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

# applying the function to the dataset

my_basket_sets = my_basket.applymap(encode)
my_basket_sets.head()

Product,10,10ML SYRING,20ML SYRINGE,2ML SYRINGE,3 WAY POLYMED,3WAY STOPCOCK,4 QUIN PFS 0.5,4QUIN D EYE DROP,5 ML SYRING,A TO Z NS SYRUP(B),...,ZINCOVIT TAB,ZOCLAR 250 TAB,ZOFIX CV 200 TAB,ZORYL M 1,ZOSTER 400TAB,ZOSTER 800 TAB,ZURACEF 200 TAB,ZYLORIC 100 TAB,ZYLORIC 300,ZYTEE GEL 10 GM
Patient,,,,,,,,,,,,,,,,,,,,,
,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
SHANKAR SHINDE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VISHA KUNAL INGA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# using the 'apriori algorithm' with min_support=0.01 (1% of 9751)
# It means the item should be present in atleast 97 transaction out of 9751 transactions only when we considered that item in
# frequent itemset
frequent_items = apriori(my_basket_sets, min_support = 0.01,use_colnames = True)
frequent_items

      support                                           itemsets
0    0.077195                                               (10)
1    0.016650                            (2ML SYRINGE          )
2    0.073158                            (5 ML SYRING          )
3    0.014127                            (ACEMIZ MR TAB        )
4    0.010091                            (ALPRAX 0.25          )
..        ...                                                ...
477  0.010091  (IV RL 500            , INJ PENTALOC         ,...
478  0.011100  (5 ML SYRING          , INJ PENTALOC         ,...
479  0.010091  (IV RL 500            , 5 ML SYRING          ,...
480  0.011100  (IV RL 500            , 5 ML SYRING          ,...
481  0.010091  (IV SET               , 5 ML SYRING          ,...

[482 rows x 2 columns]

In [ ]:
# now making the rules from frequent itemset generated above

rules = association_rules(frequent_items, metric = "lift", min_threshold = 1)
rules.sort_values('confidence', ascending = False, inplace = True)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
740,"(INJ ROSINOX 60 , INJ FILET 1.GM )",(INJ PENTALOC ),0.013118,0.124622,0.013118,1.000000,8.024291,0.011483,inf
3949,"(5 ML SYRING , INJ PENTALOC ,...",(10),0.011100,0.077195,0.011100,1.000000,12.954248,0.010243,inf
751,"(IV NS 100 , INJ FILET 1.GM )",(INJ PENTALOC ),0.020686,0.124622,0.020686,1.000000,8.024291,0.018108,inf
3378,"(IV NS 100 , CHEST LEEDS ,...",(INJ ZYSET ),0.010091,0.108981,0.010091,1.000000,9.175926,0.008991,inf
2640,"(IV SET , INJ ZYSET ,...",(INJ PENTALOC ),0.010595,0.124622,0.010595,1.000000,8.024291,0.009275,inf
...,...,...,...,...,...,...,...,...,...
1683,(INJ PENTALOC ),"(INJ LASIX 40 , 10, INJ ZYSET ...",0.124622,0.013623,0.010091,0.080972,5.943920,0.008393,1.073283
1992,(INJ PENTALOC ),"(5 ML SYRING , IV SET ,...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930
137,(INJ PENTALOC ),(SYRINGE 50ML ),0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930
1697,(INJ PENTALOC ),"(10, INJ ZYSET , INJ ROSINOX 60 ...",0.124622,0.013118,0.010091,0.080972,6.172532,0.008456,1.073832
2439,(INJ PENTALOC ),"(IV NS 100 , CHEST LEEDS ,...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930

In [ ]:
# arranging the data from highest to lowest with respect to 'confidence'

rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
740,"(INJ ROSINOX 60 , INJ FILET 1.GM )",(INJ PENTALOC ),0.013118,0.124622,0.013118,1.000000,8.024291,0.011483,inf
2838,"(5 ML SYRING , IV NS 100 ,...",(INJ ZYSET ),0.010595,0.108981,0.010595,1.000000,9.175926,0.009441,inf
2751,"(IV NS 100 , IV RL 500 ,...",(IV NS 500 ML ),0.012109,0.061049,0.012109,1.000000,16.380165,0.011370,inf
1156,"(5 ML SYRING , INJ ZYSET ,...",(10),0.013118,0.077195,0.013118,1.000000,12.954248,0.012105,inf
2528,"(INJ ROSINOX 60 , INJ ZYSET ,...",(INJ PENTALOC ),0.011100,0.124622,0.011100,1.000000,8.024291,0.009717,inf
...,...,...,...,...,...,...,...,...,...
3343,(INJ PENTALOC ),"(CHEST LEEDS , 10, INJ ZYSET ...",0.124622,0.010595,0.010091,0.080972,7.642182,0.008770,1.076577
2621,(INJ PENTALOC ),"(IV SET , IV NS 500 ML ,...",0.124622,0.010595,0.010091,0.080972,7.642182,0.008770,1.076577
4192,(INJ PENTALOC ),"(IV SET , 5 ML SYRING ,...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930
885,(INJ PENTALOC ),"(IV NS 500 ML , INJ ROSINOX 60 )",0.124622,0.013118,0.010091,0.080972,6.172532,0.008456,1.073832
2439,(INJ PENTALOC ),"(IV NS 100 , CHEST LEEDS ,...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930